.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    height: 50%;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    left: 15%;
    top: 20%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    transition: all 0.5s ease-out;
}

.Modal .fa-thumbs-up {
    margin-bottom: 10px;
    animation: shake-icon 3s linear infinite;
}

.Modal .fa-frown {
    animation: rolling-face 1.5s linear infinite;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}

@keyframes shake-icon {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(45deg);
    }
    50% {
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(-45deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@keyframes rolling-face {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    25% {
        transform: rotate(25deg) translate(25px, 0);
    }
    50% {
        transform: rotate(0deg) translate(0, 0);
    }
    75% {
        transform: rotate(-25deg) translate(-25px, 0);
    }
    100% {
        transform: rotate(0deg) translate(0, 0);
    }
}