.Toolbar{
    height: 72px;
    width: 100%;
    background-color: #f3722c;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 90;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 5%;
    font-weight: bold;
}

@media(max-width: 499px){
    .DesktopOnly{
        display: none;
    }
}