.OrdersPage {
    width: 100%;
    height: 90vh;
    overflow: auto;
}

.OrdersPage h2{
    text-align: center;
}

.OrdersPage::-webkit-scrollbar {
    display: none;
}

.OrdersPage {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
