.OrdersPage {
    width: 100%;
    height: 800px;
    overflow: auto;
}

.OrdersPage h2 {
    text-align: center;
}

.OrdersPage::-webkit-scrollbar {
    display: none;
}

.OrdersPage {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

@media (min-width: 768px) {
    .OrdersPage {
        height: 1000px;
    }
}