.NavigationItems{
    height: 100%;
    margin: 0;
    padding: 0;
    display: block;
    align-items: center;
    color: white;
    list-style: none;
}

@media(min-width: 500px){
    .NavigationItems{
        display: flex;
    }
}