.LogoutButton {
    height: 60px;
    width: 90px;
    margin: 0;
    box-sizing: border-box;
    color: black;
    text-decoration: none;
    padding: 1px 10px;
    margin: 0 5px;
    display: block;
    border-radius: 10%;
    border: none;
    border-bottom: 4px solid transparent;
    background-color: #f9c74f;
    font: inherit;
    font-weight: bold;
    cursor: pointer;
}

.LogoutButton .username{
    margin: 1px auto;
    padding: 0
}
.LogoutButton .logout{
    margin: 1px auto;
    padding: 0
}

.LogoutButton:hover {
    border-bottom: 4px solid black;
}