.Button {
    background-color: transparent;
    border: 1px solid black;
    width: 120px;
    height: 50px;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 10%;
}

.Button:hover{
    color: white;
    animation: popup 0.2s ease-in;
    transform: scale(1.2);
}

.Button:hover .Loader{
    color:white;
}

.Button:disabled{
    color: #ccc;
    background-color: #eee;
    cursor: not-allowed;
    animation: none;
}

.Success {
    background-color: #5C9210;
}

.Danger {
    background-color: #944317;
}

@keyframes popup {
    0% {
        transform: scale(1);
    }
    100%{
        transform: scale(1.2);
    }
}