.Input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.Input .Label{
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
}

.Input .InputElement{
    outline: none;
    width: 100%;
    display: block;
    border: 1px solid #ccc;
    background-color: white;
    font: inherit;
    padding: 6px 6px;
}

.Input .InputElement:focus{
    outline: none;
    background-color: rgba(204, 204, 204, 0.514);
}

.Input .Invalid{
    border: 1px solid red;
    background-color: rgba(255, 213, 209, 0.555);
}