.SingleOrder{
    width: 90%;
    margin: 10px auto;
    border: 2px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    padding: 5px 5px;
}

.SingleOrder span {
    text-transform: capitalize;
    display: inline-block;
    margin: 0 2px;
    padding: 1px 3px;
    border: 1px solid #ccc;
}

.SingleOrder .Ingredients{
    width: 70%;
}