.MainContent {
    width: 100%;
    margin-top: 72px;
}

.MainContent .BackgroundImage {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 90vh;
}

.MainContent .BackgroundImage img {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
    -webkit-filter: blur(5px);
}

@media(min-width: 768px) {
    .MainContent .BackgroundImage {
        height: 76vh;
    }
}

@media(min-width: 1024px) {
    .MainContent .BackgroundImage {
        height: 100vh;
    }
}